:root {
  --light-text-color: #c1c0c0;
  --dark-text-color: #323232;
  --link-color: #aaccee;
}

body {
  background-image: url('../images/solln-ost-bw.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2 {
  font-family: 'Audiowide', cursive;
  color: #fff;
  /*color: rgb(216,103,17);*/
  /*background-color: #cfcfcfbb;*/
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: lowercase;
  padding: 10px;
}

p {
  color: #0e0e0e;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
}

footer {
  margin: auto 0;
}

.container {
  max-width: 80rem;
  padding-bottom: 3.5rem;
  padding-top: 4.5rem;
}

.band-name {
  font-size: large;
}

#home {
  position: relative;
  min-width: 100vw;
  text-align: center;
}

#home img {
  display: block;
  margin: 0 auto;
}

#home .band-logo {
  width: 400px;
  margin-top: 40px;
}

#home .band-name {
  max-width: 800px;
  margin-top: 40px;
}

.credits {
  font-size: 1rem;
}

.headline-light-bg {
  /*  color: var(--dark-text-color);*/
}

.sub-headline-light-bg {
  color: var(--dark-text-color);
}

.headline-dark-bg {
  color: var(--light-text-color);
}

.text-dark-bg {
  color: var(--light-text-color);
}

.text-light-bg {
  color: var(--dark-text-color);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

/* Larger than mobile screen */
@media (min-width: 40rem) {
}

/* Larger than tablet screen */
@media (min-width: 80rem) {
}

/* Larger than desktop screen */
@media (min-width: 120rem) {
}
